:root {
    --white: #ffffff;
    --black-5: #f7f7f7;
    --black-35: #A0A0A0;
    --black-45: #7a7a7a;
    --black-95: #121212;
    --black-95-opacity-3: rgba(18, 18, 18, 0.3);
    --red-60: #db4444;
    --green-50: #0c8c6c;
}